.content_about_me {
  padding: 30px;
}

.about_me__question {
  margin: 20px 0;
}

.about_me__question:first-child {
  margin-top: 0;
}

.about_me__question:last-child {
  margin-bottom: 0;
}

.about_me_question__title {
  display: flex;
  align-items: center;

  margin-bottom: 10px;
}

.about_me_question__title::before {
  content: "";

  background: var(--primary-color);

  display: inline-block;
  width: 5px;
  height: 30px;

  margin-right: 15px;
}

ul.about_me_question__description {
  list-style: none;
  margin: 0;

  display: grid;
  grid-template-columns: 1fr 1fr;
}

.question_description__element {
  display: flex;
  align-items: center;
}

.description_element__icon {
  margin-right: 15px;

  width: 32px;
  height: 32px;
}

.description_element__icon > * {
  width: 32px;
  height: 32px;
}
