.content_about_me {
  padding: 30px;
}

.about_me__question {
  margin: 20px 0;
}

.about_me__question:first-child {
  margin-top: 0;
}

.about_me__question:last-child {
  margin-bottom: 0;
}

.about_me_question__title {
  display: flex;
  align-items: center;

  margin-bottom: 10px;
}

.about_me_question__title::before {
  content: "";

  background: var(--primary-color);

  display: inline-block;
  width: 5px;
  height: 30px;

  margin-right: 15px;
}
