.header_about_me {
  display: grid;
  grid-template-columns: 1.5fr 1fr;

  background: var(--secondary-color);

  padding: 25px;
}

.about_me_left__name {
  font-family: "RecursiveBasic", Arial, Helvetica, sans-serif;
  font-variation-settings: "MONO" 0, "CASL" 1, "wght" 600, "CRSV" 1, "slnt" 0;
  margin-bottom: 10px;
}

.about_me_left__profession {
  display: inline-block;

  font-size: 1.2em;

  margin-bottom: 15px;
}

.header_about_me__right {
  display: grid;
  place-items: center;
}

.right__picture {
  width: 200px; /*300px*/
  margin: 0;
}

.buttons__portfolio {
  background: var(--primary-color);

  box-shadow: 2px 2px 2px rgba(122, 179, 91, 0.2);
}

.buttons__links {
  font-size: 0.7em;
  text-decoration: none;

  color: var(--primary-text-color);
}

.buttons__resume {
  background: var(--secondary-color--dark);

  box-shadow: 2px 2px 2px rgba(147, 183, 223, 0.2);
}

@media screen and (max-width: 375px) {
  .header_about_me {
    grid-template-columns: 1fr;
  }

  .header_about_me__right {
    order: 1;
  }

  .header_about_me__left {
    order: 2;
  }
}
