.main_container {
  display: grid;
  grid-template-columns: 1fr; /*minmax(400px, 25%) */
  grid-template-rows: auto;

  min-height: 100vh;
}

.content {
  margin-inline-start: 25%;
}

@media screen and (max-width: 414px) {
  .content {
    margin-inline-start: 0;
  }
}
